.container{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 40%;
}

.figure {
    width: 50%;
    height: 50%;
    position: relative;
}

.figure__circl__top__left {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #ed220b;
}

.figure__circl__top__right {
    position: absolute;
    top: 12.5%;
    right: 12.5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #ed220b;   

}

.figure__circl__bottom__left {
    position: absolute;
    left: 12.5%;
    bottom: 12.5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #ed220b;
}

.figure__circl__bottom__right {
    position: absolute;
    right: 12.5%;
    bottom: 12.5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #ed220b;
}

.big-square {
    position: absolute;
    right: 25%;
    bottom: 25%;
    width: 50%;
    height: 50%;
    background-color: #00a1ff;
}

.smol-square {
    position: absolute;
    border-radius: 15%;
    left: 37.5%;
    bottom: 37.5%;
    width: 25%;
    height: 25%;
    background-color: #f8ba00;

}

.figure__circl__top__left:hover {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 25%;
    height: 25%;
    z-index: 1;
    border-radius: 50%;
    background-color: orange;
}

.figure__circl__top__right:hover {
    position: absolute;
    top: 12.5%;
    right: 12.5%;
    width: 25%;
    height: 25%;
    z-index: 1;
    border-radius: 50%;
    background-color: green;  
}

.figure__circl__bottom__left:hover{
    position: absolute;
    left: 12.5%;
    bottom: 12.5%;
    width: 25%;
    height: 25%;
    z-index: 1;
    border-radius: 50%;
    background-color: gray;
}

.figure__circl__bottom__right:hover{
    position: absolute;
    right: 12.5%;
    bottom: 12.5%;
    width: 25%;
    height: 25%;
    z-index: 1;
    border-radius: 50%;
    background-color: pink;
}

.big-square:hover{
    position: absolute;
    right: 25%;
    bottom: 25%;
    width: 50%;
    height: 50%;
    z-index: 1;
    background-color: violet;
}
